@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('./assets/fonts/HelveticaNeue-45Lt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('./assets/fonts/HelveticaNeue-55Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Pro';
    src: url('./assets/fonts/HelveticaNeue-75Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
